$background: #ffe7bb;

$color-grey-dark: rgb(231, 231, 231);

$color-light-green: #c2ead7;
$color-dark-green: #0fb163;

$color-dark-blue: #303e5c;

$color-white: #ffff;
$color-black: black;
$color-yellow: #f1be34;
