$color-light-green: #c2ead7;
$color-dark-green: #0fb163;

$background: #ffe7bb;

$color-black: #000;
$color-white: #FFF;

$color-dark-blue: #303e5c;

$color-dark-grey: #e7e7e7;
$color-grey-dark: #e7e7e7;

$color-red: red;
