.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-margin-top-big {
    margin-top: 6rem ;
}
.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-left-small {
    margin-left: 2rem;
}

.u-padding-top-small {
    padding-top: 2rem;
}

.u-text-center {
    text-align: center;
}

.u-rounded-border {
    border-radius: 1rem;
}