.restaurant {
    // height: 40vh;
    // width: 90%;
    // margin: auto;
    // position: relative;
    // background-color: $color-light-green;
    // border-radius: 1rem;

    // &__picture {
    //     height: 25rem;
    //     width: 25rem;
    //     border-radius: 50%;
    //     background-image: url("/InfoSyst/front-end/img/restaurant-map.jpg");
    //     background-size: cover;
    //     position: absolute;
    //     top: 10%;
    //     left: 5%;
    // }

    // &__description {
    //     position: absolute;
    //     right: 10%;
    //     top: 15%;
    // }

    background-image: linear-gradient(105deg, rgba($color-light-green, 0.9) 0%, rgba($color-light-green, 0.9) 50%, transparent 50%), url('/InfoSyst/front-end/img/restaurant-map.jpg'); 
    background-size: cover;
    height: 70vh;
    border-radius: inherit;
    position: relative;

}

.menu {
    width: 90%;
    margin: auto;
}