.restaurant {
    background-image: linear-gradient(105deg, rgba($color-light-green, 0.9) 0%, rgba($color-light-green, 0.9) 50%, transparent 50%), url('/InfoSyst/front-end/img/restaurant-map.jpg'); 
    background-size: cover;
    height: 70vh;
    border-radius: inherit;
    position: relative;

}

.menu {
    width: 90%;
    margin: auto;
}

.order {

    &__content {
        width: 70%;
        margin: auto;
    }
}

.dashboard {
    width: 70%;
    margin: auto;
}