.btn {
    &,&:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        color: $color-white;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        text-align: center;
        width: 19rem;
    }

    &:hover {
        transform: translateY(-5%);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.5) scaleY(1.8);
            opacity: 0;
        }
    }

    &--green {
        background-color: $color-dark-green;

        &--search {
            position: absolute;
            right: 0;
            top: 2rem;
            font-size: 1.2rem !important;
        }

        &--big {
            width: 22rem !important;
        }
    }

    &--red {
        background-color: $color-red;
    }

    &--arow {
        background-color: $color-dark-green;
        border-radius: 50%;
        font-size: 4rem;
        padding: .5rem 1rem;
        color: $color-white;
        text-decoration: none;
    }

    &--cart {
        background-color: $color-dark-green;
        color: $color-white;
        padding: 1rem 1.5rem;
        font-size: 3rem;
        border-radius: 1rem;
        transition: all .3s;
    
        &:hover {
            transform: translateY(-5%);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);

            &::after {
                transform: scaleX(1.5) scaleY(1.8);
                opacity: 0;
            }
        }
    }

    &--bottom {
        position: fixed;
        bottom: 2%;
        right: 2%;

        background-color: $color-dark-green;
        color: $color-white;
        padding: 1rem 1.5rem;
        font-size: 3rem;
        border-radius: 1rem;
        transition: all .3s;
    
        &:hover {
            transform: translateY(-5%);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);

            &::after {
                transform: scaleX(1.5) scaleY(1.8);
                opacity: 0;
            }
        }
    }

    &--login {
        margin-right: 2rem;
    }
}