.form {
    padding: 1.5rem 2rem;
    width: 30%;
    font-size: 2rem;

    &__login {
        text-align: center;
        padding: 2rem;
        display: none;
    }

    &__profile {
        padding: 5rem 5rem;
        text-align: center;
    }

    &__label {
        font-size: 2rem;
        display: block;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    &__textarea{
        border: none;
        border-bottom: 1px solid $color-dark-green;

        &:focus {
            outline: none;
        }
    }

    &__input {

        font-family: inherit;
        font-size: 1.5rem;
        border: none;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        color: $color-black;



        &--login {
            border-radius: 0 !important;
            width: 50%;
            border-bottom: 1px solid $color-dark-green;

            &--noBorder {
                border: none;
            }
        }

        &:focus {
            outline: none;
        }

        &--header {
            width: 30%;
            background-color: $color-grey-dark;

        }

        &--intro {
            width: 100%;
            background-color: $color-white;
            transition: all .1s;

            &:focus {
                box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
                border-bottom: 5px solid $color-dark-green;
            }
        }
    }
}
