.message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: $color-dark-green;
    opacity: 0.7;
    border-radius: 1rem;
    font-size: 2rem;
    color: $color-white;
    z-index: 2000;
    display: none;
}